@media  screen and (max-width:576px) {
    .style{
    
    }
    .banner{
        width: 96vw;
        height: 120vh;
    }
    .bar{
        display: none;
    }
    .hum-barger{
        display: block;
        font-size: 30px;
        margin-top: 50px;
        color: #fff;
        margin-right: 20px;
    }
    .nav h1{
        font-size: 20px;
        margin-left: 15px;
    }
    .body{
   
      
    }
    .body h2{
        font-size: 20px;
        margin-right: 120px;
        margin-top: 40px;
        width: 100%;
    }
    .img img{
       margin-top: 2rem;
       width: 98%;
        margin-left: 5rem; 
      
    }
    .btn{
      margin-left: -2rem;
    }
    .join{
     /* padding: 10px 30px 10px 30px;
    height: 40px;
    position: relative;

    }
    .download{
        padding: 10px 20px 10px 20px;
     /* position: absolute; */
    
     
    } */
    .habit{
    width: 50%;
    }
    .habit h1{
   display: flex;
   flex-direction: column;
    max-width: 50vw;
    }
    .chance{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .run{
       display: flex;
       flex-direction: column;
        width: 80vw;
        height: 70vh; 
        /* margin-left: 25px;  */
    
    }
    .run img{
        width: 50vw;
    }
    .extra p{
        width: 100%;
    }
   .trainings{
   margin-left: 10px;
     
   }
   .column{
   display: flex;
   flex-direction: row;
   text-align: center;
  margin-left: -9rem;
   }
   .row1{
  width: 190px;
   
   }
   .row2{
 width: 190px;
    
    /* display: none; */
   }
   .row3{
   display: none;
   }
   .lunge{

   }
   .plank{
  /* margin-top:8rem; */
  display: none;
   }
   .jack{
    display: none  ;
   }
   .column-2{
     display: flex;
     flex-direction: row;
    margin-top: -6.3rem;
      margin-left: -9rem;  
   }
   .row4{
   max-width: 1000px;
    /* position: relative; */
     margin-top: -2.2rem; 
      /* margin-right: -2rem; */
   }
   .row5{
    max-width: 1000px;
    margin-top: -2.2rem; 
   /* margin-left: -4rem; */
    /* display: none; */
   }
   .row6{
    display: none;
   }
   .lorem-1{
   /* position: absolute;
   margin-left: 2rem; */
   display: none;
   }
   .lorem-2{
    display: none;
   }
   .lorem{
    display: none;
   }
   .bmi{
   text-align: center;
   }
   .calculation{
    width: 96vw;
    height: 80vh;
   display: flex;
   flex-direction: column;
  text-align: center;
  align-items: center;

   }
   .chart{
    font-size: 20px;
   }
   .td,th{
    border: 2px solid rgba(25, 25, 25, 0.315);
    padding: 10px 40px;
  }
  .trainer{
    display: none;
  }
  .pnges{
    display: none;
  }
  .png-11{
    display: none;
  }
  .png{
    display: none;
  }
  .png-1{
    display: none;
  }
  .trainer-image{
    background-color: bisque;
   height: 100vh;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;

  }
  .team{
    display: flex;
    flex-direction: column;
  }
  .trainer-image,.trainer-1{
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
 
    width: 70vw;
    /* margin-left: 1rem; */
  }
  .reserved{
    display: flex;
    flex-direction: column;
    width: 94vw;

  }
.get{
    display: flex;
    flex-direction: column;
}
footer >hr{
margin-left: 20px;
width: 85vw;
}
}