/* *{
    margin: 0 auto;
} */
 .style{
    background-color: rgba(185, 185, 185, 1.00);
 }
 .banner{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.205) 100%);
    width: 100%;
    margin: 0 auto;
    height:75vh;
  
 }

.nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
   
}
.nav-bar{
    display: flex;
    font-size: 20px;
     margin-right: 70px; 
    gap: 15px;
 color: #fff;
}
.nav h1{
    color: rgba(230,83,60,1.00);
    font-size: 30px;
     margin-left: 60px; 
}
.home{
    background-color:rgba(230,83,60,1.00) ;
    border: 2px solid #fff;
    padding: 6px 10px 6px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;

   
}
/*  */
.body{
   margin-left: 10rem;
    margin-top: 8rem;
}
.body h2{
    color: #fff;
}
.body p{
    color: rgba(255,255,255,0.50);
}
.join{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: 2px solid;
    color: #fff;
    background-color: rgba(230,83,60,1.00);
}
.download{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: 2px solid;
    color: #fff;
    background-color: rgba(230, 83, 60, 0);
}
.img{
    text-align: end;
}
.img img{
    text-align: left;
    margin-top: -22rem;
    margin-right: 10rem;
}
.button{
    text-align: right;
     margin-top: -25rem; 
    margin-right: 6rem;
}
.workout{
    padding: 20px 25px 20px 25px;
    margin-top: -22rem;
}
.bold{
    font-size: 20px;
}

.free{
   text-align: center;
   
}
.svg{
    position: relative;
    margin-left: 20px;
   
}
.btn{
    padding: 15px 30px 15px 30px;
    position: absolute;
    margin-left: 40px;
    margin-top: 11rem;
}
/*  */
.habit {
    text-align: center;
    margin-top: 60px;
    color: #ffffff36;
  }
  .habit h1{
    color: #fff;
  }
  .chance {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    color: rgba(255,255,255,0.10);
  }
  .Movement h2{
    color: #fff;
  }
  .Movement img {
    border-radius: 50%;
    border: 2px solid #fff;
  }
  /*  */
  .run {
    display: flex;
    gap: 140px;
    text-align: center;
     align-items: center; 
     margin-left: 190px; 
     margin-right: 120px;  
    margin-top: 35px;
    background-color: rgba(34,34,34,1.0);
    width: 67vw;
    height: 32vh;
    border-radius: 15px;
    color: rgba(255,255,255,0.10);
  }
  .run h1 {
    font-size: 40px;
    margin-right: 10px;
    color: #fff;
  }
  .extra,
  .mile {
    margin-right: 30px;
  }
  .join {
    padding: 12px 50px 12px 50px;
    border-radius: 15px;
     margin-right: 60px; 
    background-color: rgb(230,83,60,1.0);
  }
  .run img {
    width: 24vw;
    height: 26vh;
    border-radius: 12px;
  
  }
  /*  */
  .trainings {
    margin-left: 150px;
    margin-top: 25px;
    color: rgba(255,255,255,0.10);
  }
  .trainings h1{
    color: #fff;
  }
  /*  */
  .column {
    display: flex;
    text-align: center;
  }
  .row1 {
    width: 20vw;
    height: 25vh;
    margin-left: 150px;
  }
  .column p {
    transform: translate(0, -150px);
  }
  .row2 {
    width: 32vw;
    height: 25vh;
  }
  .row3 {
    width: 34.5vh;
    height: 25vh;
  }
  .column-2 {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -55px;
  }
  .row4 {
    width: 29vw;
    height: 24vh;
  
    margin-left: 149px;
  }
  .row5 {
    width: 20vw;
    height: 24vh;
    text-align: center;
    align-items: center;
  }
  .row6 {
    width: 39vh;
    height: 24.3vh;
    text-align: center;
    align-items: center;
  }
  .lorem {
    margin-top: -70px;
  }
  /*  */
  .bmi{
    margin-top: 40px;
  margin-left: 250px;
  color: rgba(255,255,255,0.10);
  }
  .bmi h1{
    color: #fff;
  }
   td,th{
    border: 2px solid rgba(25,25,25,1.00);
    padding: 10px 10px;
  }
  .chart h1{
    color: #fff;
  }
  .chart table{
    border-collapse: collapse;
  }
  .chart{
    color: rgba(255,255,255,0.10);
  }
  .calculation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(34, 34, 34, 0.753);
    width: 98vw;
    height: 40vh;
  }
  .calculate h1{
    color: #fff;
  }
  .calculate p{
    color: rgba(255,255,255,0.10);
  }
  .height{
    padding: 8px 60px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: #ffffff0c;
    color: rgba(255,255,255,0.10);
  }
  .weight{
    padding: 8px 60px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: #ffffff0c;
    color: rgba(255,255,255,0.10);
  }
  .age{
    padding: 8px 80px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: #ffffff0c;
    color: rgba(255,255,255,0.10);
  }
  .sex{
    padding: 8px 71px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: #ffffff0c;
    color: rgba(255,255,255,0.10);
  }
  .select{
    padding: 8px 109px;
    border-radius: 10px; 
    backdrop-filter: blur(2px);
    background-color: #ffffff0c;
    color: rgba(255,255,255,0.10);
  }
  .btn-calculate{
    margin-top: 10px;
    padding: 8px 40px;
    border-radius: 15px;
    background-color: rgb(230,83,60,1.0);
    color: #fff;
  }
  /*  */
  .team {
    text-align: center;
    margin-top: 45px;
    color: rgba(255,255,255,0.10);
  }
  .team h1{
    color: #fff;
  }
  /*  */
  .trainer-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
    margin-right: 265px;
    margin-left: 265px;
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: bisque;
    width: 60vw;
    height: 50vh;
    border-radius: 10px;
  
}
.png{
  text-align: center;
  margin-top: -50px;
  margin-right: 91px;
  color: #fff;
}
.pnges{
  text-align: center;
  margin-top: -50px;
  margin-right: 91px;
  color: #fff;
}
.png-1{
    text-align: center;
    margin-top: -5px;
    margin-right: 100px;
    color: #fff;
  }
  .png-11{
    text-align: center;
    margin-top: -5px;
    margin-right: 100px;
    color: #fff;
  }
.trainer{
    width: 18vw;
    height: 22vh;
    border-radius: 10px;
  
}
.trainer-1{
  width: 18vw;
  height: 22vh;
  border-radius: 10px;

}
 /*  */
 .get{
    display: flex;
  text-align: center;
  justify-content: space-evenly;
  color: rgba(255,255,255,0.40);
  }
  .footer h1{
   font-size: 30px;
   margin-right: 195px;
   color: #fff;
  }
  .get-started h1{
   font-size: 20px;
   font-weight: bold;
   color: #fff;
  }
  .us{
    list-style: none;
    font-size: 20px;
    line-height: 24px;
    word-spacing: 5px;
  }
  footer >h3{
    text-align: center;
    color: rgba(255,255,255,0.40);
  }
  footer >hr{
    margin-top: 10px;
    width: 59vw;
    margin-left: 280px;
  }
  .reserved{
    background-color:rgba(255,255,255,0.10);
  }